<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Register page</title>
</head>
<body>
    <form action="/post/reg" method="post">
        <h1>Registration</h1>
        <p>Your nickname: <input type="text" name="nickname"/></p>
        <p>Your login: <input type="text" name="login"/></p>
        <p>Your password: <input type="password" name="password"/></p>
        <p>Your email: <input type="text" name="email"/></p>
        <input type="submit" value="Submit" />
    </form>
</body>
</html>