<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Users</title>
</head>
<body>

{% for user in users %}
    <p>Login: {{ user.login }}<br>Email: {{ user.email }}</p>
{% endfor %}

</body>
</html>